
<header id="navbar">
    <h1>
        Kardeşler Lokantası
    </h1>
    <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
    <nav id="navbar-links" >
        <ul>
            <li>
                <a href="../pages/index.html">Ana sayfa</a>
            </li>
            <li>
                <a href="https://www.youtube.com/">Menu</a>
            </li>
            <li>
                <a href="">Hakkımızda</a>
            </li>
            <li>
                <a href="">İletişim</a>
            </li>
        </ul>
    </nav>
</header>